.content img{
    display: flex;
    width: 93%;
    margin: 0 auto;
}
.content div {
    padding-left: 20px;
}

.ava img {
    width: 80px;
    height: 80px;
    margin: 0;
}

.ava {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

